<header class="header">
  <div class="container">
    <!-- <nav class="flex"> -->
    <a class="logo" href="#"> jefferson* </a>

    <button class="menu-burger-button" type="button">
      <svg width="28" height="28">
        <use href="./icons.svg#icon-menu"></use>
      </svg>
    </button>

    <load
      src="/partials/orderLink.html"
      type="primary"
      id="footer"
      content="Order the project"
    />

    <!-- </nav> -->
  </div>
</header>
<div class="burger-menu-container is-hidden">
  <div class="menu-div">
    <button class="menu-button">
      <svg width="40" height="40">
        <use href="./icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="ankors-menu is-hidden"></ul>
    <load
      src="/partials/orderLink.html"
      type="primary"
      id="footer"
      content="Order the project"
    />
  </div>
</div>
